<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.antmedia.android.liveVideoBroadcaster">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="io.antmedia.android.LiveMainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".LiveVideoBroadcasterActivity"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name="io.antmedia.android.liveVideoPlayer.LiveVideoPlayerActivity"
            android:theme="@style/AppThemeDark" />

        <service android:name="io.antmedia.android.broadcaster.LiveVideoBroadcaster" />

        <activity android:name="finalreport.mobile.dduwcom.myapplication.Main.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="finalreport.mobile.dduwcom.myapplication.Map.BuskingMap" />
        <activity android:name="finalreport.mobile.dduwcom.myapplication.Map.FilterActivity" />
        <activity android:name="finalreport.mobile.dduwcom.myapplication.Mypage.MypageActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBxHFzHSgcyz2caATOX5kmciM-ovzZmbUM" />

        <activity android:name="finalreport.mobile.dduwcom.myapplication.MyFeed" />
        <activity android:name="finalreport.mobile.dduwcom.myapplication.CreatePost.MakePost" />
        <activity android:name="finalreport.mobile.dduwcom.myapplication.ReadPost.ReadPostPrmtActivity" />
        <activity android:name="finalreport.mobile.dduwcom.myapplication.Login.LoginActivity" />
        <activity android:name="finalreport.mobile.dduwcom.myapplication.Login.SignupActivity" />
        <activity android:name="finalreport.mobile.dduwcom.myapplication.Login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="finalreport.mobile.dduwcom.myapplication.NormPostItem" />
        <activity android:name="finalreport.mobile.dduwcom.myapplication.ReadPost.NormPostDetailActivity" />
        <activity android:name="finalreport.mobile.dduwcom.myapplication.CommentActivity" />
        <activity android:name="finalreport.mobile.dduwcom.myapplication.SearchActivity" />
        <activity android:name="finalreport.mobile.dduwcom.myapplication.EditProfileActivity"></activity>
    </application>

</manifest>